:root{
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3d;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}
*{
    box-sizing: inherit;
}
html{
    /* -> 1 rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Responsive */
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}
/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--grow-from));
    }
    to{
        transform: scale(var(--grow-to));
    }
}
/* Modal */
.modal{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
    --grow-from: 0.7;
    --grow-to: 1;
    z-index: 1;
    position: relative;
    margin: auto;
    animation: growth linear 0.1s;
}
/* button */
.btn{
    min-width: 124px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--white{
    background-color: var(--white-color);
}
.btn.btn--disable{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}
.btn.btn--size-s{
    height: 32px; 
    font-size: 12px;
    padding: 0 8px;
}
/* Select */
.select-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    color: var(--text-color);
    background-color: var(--white-color);
    position: relative;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
    color: rgb(95, 95, 95);
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(95, 95, 95);
    top: 1px;
}

.select-input__list{
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    display: none;
    z-index: 1;
}

.select-input__link{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}
/* Pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-item{
    list-style: none;
    margin: 0 10px;
}
.pagination-item__link{
    --height: 30px;
    display: block;
    color: #939393;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active:hover .pagination-item__link{
    background-color: #ed5c3f;
}